.currency-switch {
  width: 7.2em;            
  height: 1.875em;
  padding: 0 0.5em;        
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 6.25em;
  cursor: pointer;
  overflow: hidden;
  background: #F09103;
  border: none;
  transition: background .3s ease;
}

/* Etiquetas */
.currency-switch .usd-label,
.currency-switch .uyu-label {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  transition: color .3s ease;
}

.currency-switch .usd-label {
  color: #F09103;
}

/* Knob */
.currency-switch::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.45em;
  width: 1.45em;
  border-radius: 50%;
  background: rgb(24, 23, 23);
  left: 0.35em;            
  transition: left .3s ease, background .3s ease;
}

.currency-switch.active::before {
  left: calc(100% - 1.45em - 0.35em);  
}

.currency-switch.active .usd-label {
  color: #2b2b2b;
}

.currency-switch.active .uyu-label {
  color: #F09103;
}

/* Responsive */
@media (max-width: 660px) {
  .currency-switch {
    width: 5.5em;
    height: 1.5em;
    padding: 0 0.3em;
  }

  .currency-switch::before {
    width: 1.25em;
    height: 1.25em;
    left: 0.28em;
  }

  .currency-switch.active::before {
    left: calc(100% - 1.25em - 0.28em);
  }

  .currency-switch .usd-label,
  .currency-switch .uyu-label {
    font-size: 0.7rem;
  }
}
