body {
    font-family: 'Jost', sans-serif;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */

header {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: .75rem;
  margin: 2rem 0;
}

#LogoJaP{
  display: block;
  width: 23rem;
  height: auto;
  margin: 0 auto;         
}

.header img#LogoJaP{
  content: url("img/groupe-six.png");
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.login-card {
    background: #fff;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.13);
    padding: 2rem;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem 0;
    border: 0.1rem solid #bbb;
    border-radius: 1rem;
    background: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #888;
    outline: none;
    transition: border 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 0.1rem solid #222;
    color: #222;
}

button[type="button"] {
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem 0;
    background: #111;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#register-btn {
    background: #F09103 !important;
    width: 14rem;
    height: auto;
    font-size: 0.9rem;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

/* Tablet (iPad Mini) */
@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #LogoJaP {
        width: 30rem;
        height: auto;
    }
}

/* Mobile (iPhone SE) */
@media (max-width: 550px) {
    header {
        margin: 2rem 0 0 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #LogoJaP {
        width: 18rem;
        height: auto;
    }

    main {
        min-height: 40vh;
        padding: 0 4vw;
    }

    .login-card {
        min-width: 0;
        width: 98vw;
        box-sizing: border-box;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    button[type="submit"] {
        font-size: 1.1rem;
        padding: 0.5rem 0;
    }

}